body {
  padding-top: 40px;
}

.project-title {
  text-align: center;
  border: 2px solid #072d4b;
  background: #b2b8bc;
  padding: 4px;
}

.section-project p {
  margin-top: 20px;
}

.project-descriptor {
  font-weight: bold;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.profile-img {
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

.work-dates {
  float:right;
}

.about-me-cat {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.no-bullets {
  list-style: none;
}

.glyphicon {
  font-size: 32px;

}
/* This section is to fix the anchor links in index.html
   Without this the anchor links loads behind the navbar */
#my-first-website,
#band-website,
#blogging-website,
#shelter-website,
#resort-website,
#vacation-website {
  padding-top: 40px;
  margin-top: -40px;
}
